<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Platform;SupportFiles;SalesLogix"/>
    </assemblyBinding>
  </runtime>

  <log4net threshold="ALL">
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <applicationName value="Services"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <logger name="SDataSync">
      <level value="ALL"/>
      <appender-ref ref="EventLogAppender"/>
    </logger>
  </log4net>

  <connectionStrings>
    <clear/>
    <add name="Default" connectionString="Provider=SLXOLEDB.1;Persist Security Info=True;Initial Catalog=Sawgrass;Data Source=localhost;Extended Properties=&quot;PORT=1706;LOG=ON;CASEINSENSITIVEFIND=ON;AUTOINCBATCHSIZE=1;SVRCERT=12345;ACTIVITYSECURITY=OFF;TIMEZONE=NONE&quot;"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>

